@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bs-navy:rgb(50,60,86);
    --bs-christmas-green:rgb(55,118,107);
    --bs-christmas-dark-green:rgb(45,90,86);
}
.content{
    background:var(--bs-gray-100);
     height:100vh;
     justify-content: center;
     align-items:center;
     display:flex;
     font-family:"montserrat", sans-serif;
}

form.wrapper {
    max-width:600px;
    width:90%;

}
